.subscription {
    margin-top: calc(2rem + #{$navbar-height});
    background-color: $background-color-2;
    border-top-right-radius: $border-raduis-2;
    border-top-left-radius: $border-raduis-2;
    &__content {
        padding: 2rem;
    }

    &__additional-info {
        padding:0 2rem;
        @include flex-box(column);
    }

    .technical-support {
        @include flex-box(column);
        
        .custom-button {
            background-color: #1ca0f2;
            width: 100%;
            padding:4rem 2rem;
            img {
                margin-left: 2rem;
            }
        }
    }
}