<section class="subscription">
    <h1 class="headding-1 headding-line">
        الاشتراكات
    </h1>
    <div class="subscription__content">
        <h1 class="headding-2 border-bottom padding-bottom-u-s">
            الاشتراكات الرقمية
        </h1>
        <ng-container *ngIf="(packages$ | async) as data">
            <app-packages [data] = 'data'></app-packages>
        </ng-container>
    </div>

    <app-subscription-additional-info></app-subscription-additional-info>
    
</section>