//margin


.margin-bottom-u-vs{margin-bottom:$margin-bottom-very-small !important};
.margin-bottom-u-s{margin-bottom:$margin-bottom-small !important};
.margin-bottom-u-m{margin-bottom:$margin-bottom-meduim !important};
.margin-bottom-u-b{margin-bottom:$margin-bottom-big !important};
.margin-bottom-u-vg{margin-bottom:$margin-bottom-very-big !important};

.margin-top-u-m{margin-top:$margin-bottom-meduim !important};
//padding

.padding-bottom-u-vs{padding-bottom:$padding-bottom-very-small !important};
.padding-bottom-u-s{padding-bottom:$padding-bottom-small !important};
.padding-bottom-u-m{padding-bottom:$padding-bottom-meduim !important};
.padding-bottom-u-b{padding-bottom:$padding-bottom-big !important};
.padding-bottom-u-vg{padding-bottom:$padding-bottom-very-big !important};


.text-center
{
    text-align: center;
}



.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}



.border-bottom  {
    border-bottom: 1px solid $color-secondary-dark-1;
}

