//color variables 
$color-primary:#d82425;
$color-secondary:#30363f;

$color-primary-light:#df4c4d;

$color-primary-2:#df4c4d;


$color-secondary-light-1:#f2f2f2;
$color-secondary-light-2:#b6b6b6;
$color-secondary-dark-1:#8f8f8f;
$color-secondary-dark-2:#777777;

$color-footer-1:#252934;
$color-footer-2:#1e242c;

$color-black-1:#333;

$color-white-1:#fff;
$color-white-2:rgb(245, 245, 245);
//fonts

$font-family:'Cairo', sans-serif;


//backgrounds 

$background-color-1:#30363f;
$background-color-2:#f7f7f7;
$font-size-meduim:2.8rem;
$font-size-3:1.5rem;
$font-size-2-3:2rem;
$font-size-2:2.5rem;
$font-size-1:4rem;
$font-size-0:4.5rem;


// boxshadows

$text-shadow-1:0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
$text-shadow-2:0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
$box-shadow-3:0px 1px 6px 0px rgba(0, 0, 0, 0.004);


//margin


$margin-bottom-very-small:1rem;
$margin-bottom-small:2rem;
$margin-bottom-meduim:3rem;
$margin-bottom-big:4rem;
$margin-bottom-very-big:8rem;


//padding
$padding-bottom-very-small:1rem;
$padding-bottom-small:2rem;
$padding-bottom-meduim:3rem;
$padding-bottom-big:4rem;
$padding-bottom-very-big:8rem;


// border-radius
$border-raduis:.5rem;
$border-raduis-2:1rem;


// navbar hieght 
$navbar-height:60px;