.form
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input,
    &__text-area
    {
        font-size: $font-size-3;
        height: calc(3rem + 2px);
        background-color: $color-footer-2;
        border-radius: $border-raduis;
        display: block;
        outline: none;
        border: none;
        color:$color-secondary-light-2;
        padding: 1.5 2rem;
        &::-webkit-input-placeholder
        {
            color:$color-secondary-light-2;
            text-transform: uppercase;
            font-weight: 700;
        }

        &:placeholder-shown ~ &__name
        {
            display: none;
        }
    }
    &__text-area
    {
        text-transform: uppercase;
        font-weight: 700;
        padding: 1.5rem 2rem;
        height: 15rem;
        display: block;
    }
}
