.grid
{

    width: 100%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;

    transition: all .4s;

    &__cell
    {
        overflow: hidden;
        position: relative;
        width: 33.1rem;
        height: 30.7rem;

        &--1
        {
           
        }

        &--2
        {
           
        }

        &--3
        {
           
        }
        &--4
        {
           
        }

        &--5
        {
           
        }

        &--6
        {
        }

        &:hover .caption1
        {
            border: 3px solid $color-primary;
            background-color: rgba($color-footer-1,1);
            opacity: 1;
            transform: scale(1) rotate(0);
        }

        &:hover .caption1 .btn__tertiary 
        {
            opacity: 1;
            transform: scale(1) rotate(0);
        }
    }
}