.list
{
    display: flex;
    height: 100%;
    &__item
    {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        // &:not(:last-child)
        // {
        margin-right: 4rem;
        // }
        transition: all .2s ease-in;
        &:hover
        {
            background-color: rgba($color-primary-light,0.8);
        }
        @include media(tab-port)
        {
            // &:not(:last-child)
            // {
            margin-right: .1rem;
            // }
        }
        
    }

    &__item-btn {
        &:hover {
            background-color: unset;
        }
    }

    &__item-input {
        &:hover {
            background-color: unset;
        }
    }

    &__link
    {
        font-size: 1.3rem;
        color:$color-white-1;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }

}

.no-hover {
    .list__item:hover {
        background-color: unset;
    }

    a { 
        color: inherit;
        text-decoration: unset;
    }

    a:hover {
        color: $color-primary;
    }
}





.menu-list
{
    list-style: none;
    &__item
    {
        text-align: center;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        background-image: linear-gradient(120deg ,transparent 0% ,  transparent 50% , $color-primary 50%);
        background-size: 206%;
        transition: all .2s;
        &:hover
        {
            background-position: 100%;
            transform: translateX(-1rem);
        }
    }

    &__link
    {
        font-size:$font-size-3;
        color:$color-white-1;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }


}
