.navbar
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    width: 100%;
    background-color: $background-color-1;
    padding: 0 5rem;

    .hide
    {
        @include media(phone)
        {
            display: none;
        }
    }

    &__toggle-button {

        display: none;
        @include media(phone) {
            display: inline-block;
        }
    }

    @include media(phone) {
        padding: 0 1rem;
    }

    .btn__primary {
        &:hover {
            color: $color-white-1;
        }
    }
}


.logo-box
{
    width: 7rem;
    height: 5rem;
    filter: invert(1);
    img {
        width: 100%;
        height: 100%;
    }
    align-self: center;
    @include media(tab-port)
    {
        display: flex;
        justify-content: center;
    }

}