*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Cairo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

.headding-1, .heading-2, .heading-3, .heading-4, .headding-line {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  color: #333;
  text-transform: uppercase; }

.headding-1 {
  font-size: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .headding-1 {
      font-size: 2.5rem; } }

.heading-2 {
  font-size: 2.5rem;
  color: #8f8f8f;
  text-transform: capitalize; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 2rem; } }

.heading-3 {
  font-size: 1.5rem;
  color: #8f8f8f; }

.heading-4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #8f8f8f; }

.paragraph {
  line-height: 2;
  font-size: 1.5rem;
  color: #777777; }

.headding-line {
  font-size: 4rem;
  display: grid;
  grid-template-columns: 10vw max-content 10vw;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-content: center; }
  .headding-line::after, .headding-line::before {
    content: "";
    height: 1px;
    display: block;
    background-color: #d82425; }
  @media only screen and (max-width: 37.5em) {
    .headding-line {
      font-size: 2.5rem; } }

.margin-bottom-u-vs {
  margin-bottom: 1rem !important; }

.margin-bottom-u-s {
  margin-bottom: 2rem !important; }

.margin-bottom-u-m {
  margin-bottom: 3rem !important; }

.margin-bottom-u-b {
  margin-bottom: 4rem !important; }

.margin-bottom-u-vg {
  margin-bottom: 8rem !important; }

.margin-top-u-m {
  margin-top: 3rem !important; }

.padding-bottom-u-vs {
  padding-bottom: 1rem !important; }

.padding-bottom-u-s {
  padding-bottom: 2rem !important; }

.padding-bottom-u-m {
  padding-bottom: 3rem !important; }

.padding-bottom-u-b {
  padding-bottom: 4rem !important; }

.padding-bottom-u-vg {
  padding-bottom: 8rem !important; }

.text-center {
  text-align: center; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.border-bottom {
  border-bottom: 1px solid #8f8f8f; }

.subscription {
  margin-top: calc(2rem + 60px);
  background-color: #f7f7f7;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem; }
  .subscription__content {
    padding: 2rem; }
  .subscription__additional-info {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .subscription .technical-support {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .subscription .technical-support .custom-button {
      background-color: #1ca0f2;
      width: 100%;
      padding: 4rem 2rem; }
      .subscription .technical-support .custom-button img {
        margin-left: 2rem; }

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #30363f;
  padding: 0 5rem; }
  @media only screen and (max-width: 37.5em) {
    .navbar .hide {
      display: none; } }
  .navbar__toggle-button {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .navbar__toggle-button {
        display: inline-block; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      padding: 0 1rem; } }
  .navbar .btn__primary:hover {
    color: #fff; }

.logo-box {
  width: 7rem;
  height: 5rem;
  filter: invert(1);
  align-self: center; }
  .logo-box img {
    width: 100%;
    height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .logo-box {
      display: flex;
      justify-content: center; } }

.list {
  display: flex;
  height: 100%; }
  .list__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-right: 4rem;
    transition: all .2s ease-in; }
    .list__item:hover {
      background-color: rgba(223, 76, 77, 0.8); }
    @media only screen and (max-width: 56.25em) {
      .list__item {
        margin-right: .1rem; } }
  .list__item-btn:hover {
    background-color: unset; }
  .list__item-input:hover {
    background-color: unset; }
  .list__link {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase; }

.no-hover .list__item:hover {
  background-color: unset; }

.no-hover a {
  color: inherit;
  text-decoration: unset; }

.no-hover a:hover {
  color: #d82425; }

.menu-list {
  list-style: none; }
  .menu-list__item {
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #d82425 50%);
    background-size: 206%;
    transition: all .2s; }
    .menu-list__item:hover {
      background-position: 100%;
      transform: translateX(-1rem); }
  .menu-list__link {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase; }

.hero {
  padding: 4rem 0rem;
  width: 100%;
  height: 90vh;
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 92%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 92%, 0% 75%, 0 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* &__arrow
    {
        width: 6rem;
        height: 6rem;
        margin-top: 10rem;
        align-self: center;
    }
    */ }
  @media only screen and (max-width: 37.5em) {
    .hero {
      height: 50vh;
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 49% 100%, 0 100%, 0 0);
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 49% 100%, 0 100%, 0 0); } }
  .hero__heading {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }
    .hero__heading--1 {
      letter-spacing: 0.5px;
      text-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
      font-size: 4.5rem; }
      @media only screen and (max-width: 37.5em) {
        .hero__heading--1 {
          font-size: 2.8rem; } }
    .hero__heading--2 {
      text-align: center;
      text-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
      font-size: 2.5rem;
      letter-spacing: 1px; }
      @media only screen and (max-width: 37.5em) {
        .hero__heading--2 {
          font-size: 1.5rem; } }

.btn {
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      width: 16rem;
      height: 5rem; } }
  .btn__primary {
    cursor: pointer;
    background-color: #d82425;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    border: 1px solid #d82425;
    outline: none; }
    .btn__primary:hover, .btn__primary:active, .btn__primary:focus {
      background-color: unset;
      border: 2px solid #d82425;
      color: #d82425; }
  .btn .btn__text {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem; }
  .btn__secondary {
    cursor: pointer;
    color: #333;
    font-size: 1.5rem;
    background: unset;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    border: unset;
    transition: all 0.5s;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .btn__secondary:hover {
      cursor: pointer; }
    .btn__secondary img {
      height: 1rem;
      width: 1rem;
      transition: all .1s ease-in; }
    .btn__secondary:active, .btn__secondary:focus {
      outline: none;
      border: none; }
  .btn__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: left;
    background-color: #101010;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-decoration: unset; }
    .btn__social img {
      width: 20%;
      text-align: center;
      font-size: 28px;
      margin-right: 7px; }
    .btn__social .big-txt {
      font-size: 1.3rem;
      text-transform: capitalize; }
  .btn__icon {
    color: #fff;
    font-weight: 500;
    background-color: #8f8f8f;
    justify-content: space-around;
    width: 18rem;
    height: 5rem; }
    .btn__icon img {
      width: 2.5rem;
      height: 2.5rem; }
    .btn__icon .invert {
      filter: invert(1); }
    .btn__icon .brightness {
      filter: brightness(100); }
  .btn__arrow {
    margin-left: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .btn__arrow {
        width: 2.3rem;
        height: 1.3rem; } }
  .btn__sm {
    width: 8rem;
    height: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .btn__sm {
        height: 4rem; } }
  .btn__lg {
    width: 10rem;
    height: 6rem;
    font-size: 1.5rem;
    font-weight: 500; }
  .btn__block {
    display: block;
    width: 100%; }
  .btn__rotate {
    transform: rotate(180deg); }

#click {
  display: none; }

.grid {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  transition: all .4s; }
  .grid__cell {
    overflow: hidden;
    position: relative;
    width: 33.1rem;
    height: 30.7rem; }
    .grid__cell:hover .caption1 {
      border: 3px solid #d82425;
      background-color: #252934;
      opacity: 1;
      transform: scale(1) rotate(0); }
    .grid__cell:hover .caption1 .btn__tertiary {
      opacity: 1;
      transform: scale(1) rotate(0); }

.box {
  padding: 0 4rem;
  width: 80%;
  margin: 0 auto;
  transition: all .2s; }
  .box__item {
    transform: skewX(-12deg);
    padding: 4rem;
    background-color: whitesmoke;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .box__item {
        transform: skewX(0);
        padding: 2rem 1rem;
        text-align: center; } }
    .box__item:hover .box__img-container .box__caption {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6); }
    .box__item:hover .box__img-container .box__img {
      filter: blur(1px);
      transform: scale(0.9); }
  .box__img-container {
    transition: all .2s;
    transform: skewX(12deg);
    float: left;
    margin-right: 3rem;
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    shape-outside: circle(50% at 50% 50%); }
    @media only screen and (max-width: 37.5em) {
      .box__img-container {
        float: none;
        margin: 0 auto;
        margin-bottom: 1rem;
        transform: skewX(0); } }
  .box__caption {
    opacity: 0;
    transition: all .4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); }
    .box__caption__text {
      font-size: 2rem;
      text-transform: uppercase;
      color: white; }
  .box__img {
    transition: all .4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .box__details {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .box__details {
        transform: skewX(0); } }

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__input, .form__text-area {
    font-size: 1.5rem;
    height: calc(3rem + 2px);
    background-color: #1e242c;
    border-radius: 0.5rem;
    display: block;
    outline: none;
    border: none;
    color: #b6b6b6;
    padding: 1.5 2rem; }
    .form__input::-webkit-input-placeholder, .form__text-area::-webkit-input-placeholder {
      color: #b6b6b6;
      text-transform: uppercase;
      font-weight: 700; }
    .form__input:placeholder-shown ~ .form__input__name, .form__text-area:placeholder-shown ~ .form__input__name, .form__input:placeholder-shown ~ .form__text-area__name, .form__text-area:placeholder-shown ~ .form__text-area__name {
      display: none; }
  .form__text-area {
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem 2rem;
    height: 15rem;
    display: block; }

.footer {
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #30363f; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column; }
      .footer > * {
        margin-bottom: 1rem; } }
  .footer__social-media a > * {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    filter: brightness(0.6); }
    .footer__social-media a > *:not(:last-child) {
      margin-right: 1rem; }
  .footer .btn__social {
    border: 0.01rem solid #fff; }
  .footer__header {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .footer__download {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__download .btn-group {
        width: 100%; } }
  .footer__email .heading-3 {
    text-transform: lowercase; }
  .footer__number {
    align-self: center; }
  .footer .heading-2 {
    font-size: 1.5rem;
    color: #fff; }
  .footer .menu-list__link {
    filter: contrast(0.5);
    font-size: 1.3rem; }
  .footer__bottom {
    width: 100%;
    text-align: center;
    color: #fff; }
  .footer .logo {
    width: 7rem;
    height: 5rem;
    filter: invert(1); }
    .footer .logo img {
      width: 100%;
      height: 100%; }

.footer__list {
  width: 100%; }
  .footer__list-item {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between; }
    .footer__list-item:not(:last-child) {
      margin-bottom: 1rem; }
    .footer__list-item img {
      width: 2rem;
      height: 2rem;
      filter: invert(1); }

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#8f8f8f, #30363f);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 0;
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 1000000;
    transition: all .4s; }
  .menu__icon {
    position: relative;
    transition: all .4s; }
    .menu__icon, .menu__icon::before, .menu__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
      transition: all .2s; }
    .menu__icon::before, .menu__icon::after {
      position: absolute;
      content: "";
      left: 0; }
    .menu__icon::before {
      top: -1rem; }
    .menu__icon::after {
      top: 1rem; }

#click:checked ~ .menu-section .menu {
  opacity: 1 !important;
  width: 100% !important; }

#click:checked + .menu__btn .menu__icon {
  background-color: transparent; }
  #click:checked + .menu__btn .menu__icon::after {
    transform: rotate(-45deg);
    top: 0; }
  #click:checked + .menu__btn .menu__icon::before {
    transform: rotate(45deg);
    top: 0; }

#click:checked + .menu__btn {
  background-color: #252934; }

.change {
  width: 0;
  opacity: 0; }

.user-profile {
  width: 3rem;
  height: 3rem; }
  .user-profile img {
    width: 100%;
    height: 100%;
    filter: invert(1); }

.card {
  width: 100%;
  background-color: #fff;
  border: 2px solid #8f8f8f;
  border-radius: 1rem;
  transition: all .2s; }
  .card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #8f8f8f;
    padding: 1rem 4rem; }
  .card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem; }
    .card__body .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .card__body .price .headding-2 {
        color: #d82425; }
    @media only screen and (max-width: 37.5em) {
      .card__body {
        border-bottom: 1px solid #8f8f8f; } }
  .card__footer {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .card__footer {
        display: block; } }

.v-list {
  list-style: none;
  list-style-type: none; }
  .v-list__item {
    display: flex;
    flex-direction: "row";
    align-items: "center";
    justify-content: "flex-start"; }
  .v-list__icon {
    width: 2.5rem;
    height: 2.5rem; }
    .v-list__icon img {
      width: 100%;
      height: 100%; }

.btn-group {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
