<div class="subscription__additional-info">
    <h2 class="heading-2 margin-bottom-u-vs">
        يمكنك تحميل تطبيق هارفارد بزنس ريفيو من هنا
    </h2>

    <div class="btn-group margin-bottom-u-s">
        <div class="btn__social">
            <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
            <img src="../.../../../../assets/img/play-store.svg" alt="playstore icon">
        </div>
        <div class="btn__social">
            <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
            <img src="../.../../../../assets/img/play-store.svg" alt="playstore icon">
        </div>
    </div>

    <app-rules></app-rules>
    <app-technical-support></app-technical-support>
</div>