<div class="technical-support">
    <h2 class="heading-2 margin-bottom-u-s">
        إذا كان لديك أي استفسار يمكنك التواصل معنا
    </h2>
    <div class="btn btn__icon margin-bottom-u-s">
        <img src="../.../../../../assets/img/wrench.svg" alt="" class="invert">
        <span>
            الدعم الفني
        </span>
    </div>
    <div class="btn btn__icon margin-bottom-u-vs custom-button">
        <img src="../.../../../../assets/img/twitter.svg" alt="" class="brightness">
        <span>
            أو ببساطة غرد بسؤالك    ل
            @hbrar
            وسنقوم بالرد عليك فورا
        </span>
    </div>
</div>