<div class="card__header text-center">
    <h1 class="headding-2">
        {{package.title}}
    </h1>
    <p class="heading-4">{{package.subTitle}}</p>
</div>
<div class="card__body text-center padding-bottom-u-s">
    <div class="price">
        <h1 class="headding-2">
        {{package.price}}
        </h1>
        <p class="heading-4">سنويا</p>
    </div>
    <h1 class="heading-3 margin-bottom-u-s text-center">
    {{package.discountAmount}}
    </h1>
    <button class="btn btn__primary btn__lg btn__block margin-bottom-u-s">
        اشترك الآن
    </button>
    <app-features [data] = 'displayedFeatures'></app-features>
</div>

<div class="card__footer">
    <button class="btn btn__secondary btn__lg btn__block" (click) = "toggleChanged()">
        <span class="margin-bottom-u-vs">{{buttomContent}}</span>
        <img src="../../../../assets/img/line-angle-down.svg" alt="angle-down">
    </button>
</div>