
        <footer class="footer">
            <div class="footer__header margin-bottom-u-s">
                <div class="footer__social-media">
                    <a class="icon1" href="https://www.facebook.com">
                        <img src="../../../assets/img/social1.png" alt="">
                    </a>
                    <a class="icon2 mx-2"  href="https://www.facebook.com">
                        <img src="../../../assets/img/social2.png" alt="">
                    </a>
                    <a class="icon3" href="https://www.facebook.com">
                        <img src="../../../assets/img/social3.png" alt="">
                    </a>
                    <a class="icon4 ml-2" href="https://www.facebook.com">
                        <img src="../../../assets/img/social4.png" alt="">
                    </a>
                </div>
                <div class="logo">
                    <img src="../../../assets/img/logo.png" alt="logo svg">
                </div>
            </div>
            <div class="text-center border-bottom margin-bottom-u-s" [ngClass]="(isMobile)? 'footer__list' : 'grid'">
                <div [ngClass]="(isMobile)? 'footer__list-item' : 'grid__cell--1'">
                    <h3 class="heading-2 margin-bottom-u-vs">
                        تواصل معنا
                    </h3>
                    <ul class="menu-list" *ngIf="!isMobile">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                    </ul>
                    <img src='../../../../assets/img/line-angle-down.svg' alt='' *ngIf="isMobile">
                </div>
                <div [ngClass]="(isMobile)? 'footer__list-item' : 'grid__cell--1'">
                    <h3 class="heading-2 margin-bottom-u-vs">
                        تواصل معنا
                    </h3>
                    <ul class="menu-list" *ngIf="!isMobile">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                    </ul>
                    <img src='../../../../assets/img/line-angle-down.svg' alt='' *ngIf="isMobile">
                </div>
                <div [ngClass]="(isMobile)? 'footer__list-item' : 'grid__cell--1'">
                    <h3 class="heading-2 margin-bottom-u-vs">
                        تواصل معنا
                    </h3>
                    <ul class="menu-list" *ngIf="!isMobile">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                    </ul>
                    <img src='../../../../assets/img/line-angle-down.svg' alt='' *ngIf="isMobile">
                </div>
            </div>

            
            <div class="footer__download border-bottom">
                <h2 class="heading-2 margin-bottom-u-vs">
                    يمكنك تحميل تطبيق هارفارد بزنس ريفيو من هنا
                </h2>
    
                <div class="btn-group margin-bottom-u-s">
                    <a href="#" class="btn__social">
                        <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
                        <img src="../../../assets/img/play-store.svg" alt="playstore icon">
                    </a>
                    <a href="#" class="btn__social">
                        <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
                        <img src="../../../assets/img/play-store.svg" alt="playstore icon">
                    </a>
                </div>
             </div>

             <div class="footer__bottom">
                 <p class="paragraph">جميع الحقوق محفوظة</p>
             </div>
        </footer>