<ul class="list no-hover margin-bottom-u-s">
    <li class="list__item">
        <a href="">الشروط والاحكام</a>
    </li>
    <li class="list__item">
        .
    </li>
    <li class="list__item">
        <a href="">الاسئلة الشائعة</a>
    </li>
</ul>