<div class="grid margin-bottom-u-m margin-top-u-m">
    <div class="grid__cell--1 card" *ngFor="let package of packages; trackBy:trackBy">
        <app-package [data] = 'package'></app-package>
    </div>
</div>
