<nav class="navbar">
    <div class="logo-box">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo">
    </div>
    <ul class="list ml-auto hide">
        <li class="list__item">
            <a href="#main" class="list__link" data-scroll="main">
                الصفحة الرئيسية
            </a>
        </li>
        <li class="list__item">
            <a href="#about" class="list__link" data-scroll="about">
                تواصل معنا
            </a>
        </li>
        <li class="list__item">
            <a href="#projects" class="list__link" data-scroll="projects">
                خدماتنا
            </a>
        </li>
        <li class="list__item">
            <a href="#projects" class="list__link" data-scroll="projects">
                الاشتراكات
            </a>
        </li>
    </ul>
    <ul class="list mr-auto">
        <li class="list__item list__item-input hide">
            <input type="text" class="form__input" placeholder="ابحث عما تريد">
        </li>
        <li class="list__item list__item-input">
            <div class="user-profile">
                <img src="../../../assets/img/search.svg" alt="user profile">
            </div>
        </li>
        <li class="list__item list__item-btn">
            <div class="user-profile">
                <img src="../../../assets/img/user-profile.svg" alt="user profile">
            </div>
        </li>
        <li class="list__item list__item-btn">
            <button class="btn btn__primary btn__sm">اشتراك</button>
        </li>
    </ul>
    <div class="navbar__toggle-button">
        <input type="checkbox" id="click" #checbox>
        <label for="click" class="menu__btn">
            <span class="menu__icon">&nbsp;</span>
        </label>

        <section class="menu-section" (click) = "clickOnMenu()">
            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a href="#main" class="menu-list__link" data-scroll="main">
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#about" class="menu-list__link" data-scroll="about">
                            تواصل معنا
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#projects" class="menu-list__link" data-scroll="projects">
                            خدماتنا
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#certificates" class="menu-list__link" data-scroll="certificates">
                            الاشتراكات
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</nav>